/* This defines styles and classes used in the book */
/* /* body { margin: 5%; text-align: justify; font-size: medium; } */
/* /* code { font-family: monospace; }   */
/* code{ white-space: pre-wrap; } */
/* @media screen { */

/* Workaround for iBooks issue; see #6242 */

/* } */

.sourceCode {
  overflow: visible !important;
  overflow-wrap: break-word;
  white-space: pre-wrap !important;
  word-break: break-word;
  line-height: 1.55;
}

a {
  text-decoration: underline;
  color: #333;
}

strong {
  font-weight: 600;
}

blockquote {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  line-height: 0;
  overflow-x: auto;
  border-radius: 12px;
  background-color: #eee;
  margin: 0;
}

body,
p,
code {
  font-family: "NanumGothic", sans-serif;
  /* margin: 5% 5% 20% 5%; */
  /* margin: 0; */
  margin-bottom: 8px;
  text-align: left;
  line-height: 2.55;
  text-indent: 0pt;
  font-size: 20pt;
}

code {
  text-indent: 0pt;
}

li p,
li {
  text-indent: 0pt;
  margin: 0 0 0 0;
}

p b {
  font-weight: 500;
}

pre code {
  /* font-size: 18pt; */
  text-indent: 0;
  margin: 0;
  word-wrap: break-word;
  word-break: break-word;
  white-space: inherit;
}

figure img {
  overflow: auto;
  border-radius: 8px;
  /* border: 1px solid #ccc; */
}

figcaption,
figure {
  /* padding: 8px; */
  text-align: center;
  text-indent: 0pt;
}

h1 {
  text-align: left;
  font-weight: bold;
  text-indent: 0pt;
  font-size: 24pt;
}

h2 {
  font-weight: bold;
  text-align: left;
  text-indent: 0pt;
  font-size: 23pt;
}

h3 {
  font-weight: bold;
  text-align: left;
  text-indent: 0pt;
  font-size: 22pt;
}

h4 {
  font-weight: bold;
  text-align: left;
  text-indent: 0pt;
}

h5 {
  font-weight: normal;
  text-align: left;
  text-indent: 0pt;
}

h6 {
  font-weight: 600;
  text-align: left;
  text-indent: 0pt;
}

img {
  max-width: 100%;
}

pre {
  padding: 16px;
  overflow-x: auto;
  border-radius: 12px;
  background-color: #eee;
  text-indent: 0pt;
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  border: 1px solid #bbb;
}

table {
  table-layout: auto;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

td {
  padding: 8px;
  vertical-align: top;
  white-space: pre-wrap;
}

th {
  text-align: center;
  background-color: #eee;
  font-weight: 500;
  padding: 8px;
}

a.footnote-ref {
  vertical-align: super;
}

div.column {
  display: inline-block;
  vertical-align: top;
  /* width: 50%; */
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

h1.main {
  text-align: left;
  font-size: 32pt;
}

h1.title {
  text-align: left;
}

h1.subtitle {
  font-weight: 500;
}


h2.author {
  text-indent: 0;
}

h3.date {
  font-weight: 500;
  text-align: left;
  text-indent: 0;
}

p.author {
  line-height: 1.77;
  text-indent: 0;
}

p.date {
  line-height: 1.77;
  text-indent: 0;
}

#cover-image {
  text-indent: 0pt
}

span.smallcaps {
  font-variant: small-caps;
}

span.underline {
  text-decoration: underline;
}

nav#landmarks ol li,
nav#toc ol li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
